@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

.gg-check {
  box-sizing: border-box;
  position: relative;
  display: block;
  transform: scale(var(--ggs, 1));
  width: 22px;
  height: 22px;
  border: 2px solid transparent;
  border-radius: 100px; }
  .gg-check::after {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
    left: 3px;
    top: -1px;
    width: 6px;
    height: 10px;
    border-width: 0 2px 2px 0;
    border-style: solid;
    transform-origin: bottom left;
    transform: rotate(45deg); }

.custom-template {
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  right: -325px;
  width: 325px;
  height: max-content;
  display: block;
  z-index: 1;
  background: #ffffff;
  transition: all .3s;
  z-index: 1003;
  box-shadow: -1px 1px 20px rgba(69, 65, 78, 0.15);
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  transition: all .5s; }
  .custom-template.open {
    right: 0px; }
  .custom-template .custom-toggle {
    position: absolute;
    width: 45px;
    height: 45px;
    background: #5867dd;
    top: 50%;
    left: -45px;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    /*border-right: 1px solid #177dff;*/
    cursor: pointer;
    color: #ffffff;
    box-shadow: -5px 5px 20px rgba(69, 65, 78, 0.21); }
    .custom-template .custom-toggle i {
      font-size: 20px;
      animation: 1.3s spin linear infinite; }
  .custom-template .title {
    padding: 15px;
    text-align: left;
    font-size: 16px;
    font-weight: 600;
    color: #ffffff;
    border-top-left-radius: 5px;
    border-bottom: 1px solid #ebedf2;
    background: #5867dd; }
  .custom-template .custom-content {
    padding: 20px 15px;
    max-height: calc(100vh - 90px);
    overflow: auto; }
  .custom-template .switcher {
    padding: 5px 0; }
  .custom-template .switch-block h4 {
    font-size: 13px;
    font-weight: 600;
    color: #444;
    line-height: 1.3;
    margin-bottom: 0;
    text-transform: uppercase; }
  .custom-template .btnSwitch {
    margin-top: 20px;
    margin-bottom: 25px; }
    .custom-template .btnSwitch button {
      border: 0px;
      height: 22px;
      width: 22px;
      outline: 0;
      margin-right: 6px;
      margin-bottom: 6px;
      cursor: pointer;
      padding: 0;
      border-radius: 50%;
      border: 2px solid #ededed;
      position: relative;
      transition: all .2s; }
      .custom-template .btnSwitch button:hover {
        border-color: #0bf; }
      .custom-template .btnSwitch button.selected {
        border-color: #0bf;
        display: inline-flex;
        align-items: center; }
      .custom-template .btnSwitch button:not([data-color="white"], [data-color="bg1"], [data-color="bg2"], [data-color="bg3"]) .gg-check:after {
        border-color: #fff; }
  .custom-template .img-pick {
    padding: 4px;
    min-height: 100px;
    border-radius: 5px;
    cursor: pointer; }
    .custom-template .img-pick img {
      height: 100%;
      height: 100px;
      width: 100%;
      border-radius: 5px;
      border: 2px solid transparent; }
    .custom-template .img-pick:hover img, .custom-template .img-pick.active img {
      border-color: #177dff; }

.demo .btn, .demo .progress {
  margin-bottom: 15px !important; }
.demo .form-check-label, .demo .form-radio-label, .demo .toggle, .demo .btn-group {
  margin-right: 15px; }
.demo #slider {
  margin-bottom: 15px; }

.table-typo tbody > tr > td {
  border-color: #fafafa; }
  .table-typo tbody > tr > td:first-child {
    min-width: 200px;
    vertical-align: bottom; }
    .table-typo tbody > tr > td:first-child p {
      font-size: 14px;
      color: #333; }

.demo-icon {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 20px;
  padding: 10px;
  transition: all .2s; }
  .demo-icon:hover {
    background-color: #f4f5f8;
    border-radius: 3px; }
  .demo-icon .icon-preview {
    font-size: 1.8rem;
    margin-right: 10px;
    line-height: 1;
    color: #333439; }

body[data-background-color="dark"] .demo-icon .icon-preview {
  color: #969696; }

.demo-icon .icon-class {
  font-weight: 300;
  font-size: 13px;
  color: #777; }

body[data-background-color="dark"] .demo-icon .icon-class {
  color: #a9a8a8; }

.form-show-notify .form-control {
  margin-bottom: 15px; }
.form-show-notify label {
  padding-top: 0.65rem; }

.map-demo {
  height: 300px; }

#instructions li {
  padding: 5px 0; }

.row-demo-grid {
  margin-bottom: 15px; }
  .row-demo-grid [class^="col"] {
    text-align: center; }
    .row-demo-grid [class^="col"] .card-body {
      background: #ddd; }

.btnSwitch button[data-color="white"] {
  background-color: #fff; }
.btnSwitch button[data-color="grey"] {
  background-color: #f1f1f1; }
.btnSwitch button[data-color="black"] {
  background-color: #191919; }
.btnSwitch button[data-color="dark"] {
  background-color: #1a2035; }
.btnSwitch button[data-color="blue"] {
  background-color: #1572E8; }
.btnSwitch button[data-color="purple"] {
  background-color: #6861CE; }
.btnSwitch button[data-color="light-blue"] {
  background-color: #48ABF7; }
.btnSwitch button[data-color="green"] {
  background-color: #31CE36; }
.btnSwitch button[data-color="orange"] {
  background-color: #FFAD46; }
.btnSwitch button[data-color="red"] {
  background-color: #F25961; }
.btnSwitch button[data-color="dark2"] {
  background-color: #1f283e; }
.btnSwitch button[data-color="blue2"] {
  background-color: #1269DB; }
.btnSwitch button[data-color="purple2"] {
  background-color: #5C55BF; }
.btnSwitch button[data-color="light-blue2"] {
  background-color: #3697E1; }
.btnSwitch button[data-color="green2"] {
  background-color: #2BB930; }
.btnSwitch button[data-color="orange2"] {
  background-color: #FF9E27; }
.btnSwitch button[data-color="red2"] {
  background-color: #EA4d56; }
.btnSwitch button[data-color="bg1"] {
  background-color: #fafafa; }
.btnSwitch button[data-color="bg2"] {
  background-color: #fff; }
.btnSwitch button[data-color="bg3"] {
  background-color: #f1f1f1; }

#modalShowcase .btn-close {
  background: #ff0000;
  opacity: 0.7;
  display: flex; }
  #modalShowcase .btn-close svg {
    fill: #fff;
    width: 16px;
    height: 16px; }
#modalShowcase .preview-showcase {
  background: #F1F1F4;
  border-radius: 8px;
  padding: 24px 32px;
  padding-bottom: 0;
  padding-right: 0;
  overflow: hidden;
  transition: all .3s ease; }
  #modalShowcase .preview-showcase:hover {
    transform: translateY(-2.5%);
    background: #e9f6f9; }
#modalShowcase .preview-title {
  color: #071437;
  font-weight: 700;
  font-size: 16px;
  margin-bottom: 22.750px; }
#modalShowcase .preview-img {
  width: 100% !important;
  height: auto;
  object-fit: cover;
  transition: all .3s ease; }

#checkOutMoreDemos {
  display: flex;
  position: fixed;
  bottom: 12px;
  right: 12px;
  background: #fff;
  color: #252F4A;
  font-weight: 600;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 66px;
  height: 70px;
  font-size: 12px;
  box-shadow: -5px 5px 20px rgba(69, 65, 78, 0.21); }
  #checkOutMoreDemos i {
    width: 23px;
    height: 23px;
    font-size: 16px;
    margin-bottom: 0.5rem !important;
    padding-top: 0.25rem !important; }
  #checkOutMoreDemos:hover {
    background: #1e2129;
    color: #fff;
    opacity: 1;
    transition: color .2s ease; }

@media screen and (max-width: 1200px) {
  #modalShowcase .modal-dialog {
    padding: 3rem !important; } }
@media screen and (max-width: 550px) {
  .table-typo tr td {
    display: flex;
    align-items: center;
    word-break: break-word; }
    .table-typo tr td:first-child p {
      margin-bottom: 0px; }

  #modalShowcase .modal-dialog {
    padding: 32px !important; }
  #modalShowcase h3 {
    font-size: 16px; }
  #modalShowcase .preview-showcase {
    padding: 24px;
    padding-right: 0;
    padding-bottom: 0; } }
@media screen and (max-width: 576px) {
  .custom-template .custom-content {
    overflow: auto; }

  .form-show-notify > .text-right, .form-show-validation > .text-right {
    text-align: left !important; } }
@media screen and (max-width: 400px) {
  .custom-template {
    width: 85% !important;
    right: -85%; } }

/*# sourceMappingURL=demo.css.map */




.text-theme{
  color: #6861ce;
}
.btn-submit{
  background-color: #6861ce !important;
  color: #fff !important;
}
.btn-cancel{
  border: 2px solid #6861CE !important;
  color: #6861CE !important;
  &:hover{
    background-color: #6861CE !important;
    color: #fff !important;
  }
}

/* form */
.main{
  height: 100vh !important;
  width: 100% !important;
  background-color: #F5F7FD !important;
  display: flex;
  justify-content: center;
  align-items: center;
}
.forms_design{
  width: 420px;
  padding: 50px 40px;
  color: #444;
  background-color: #fff;
  margin-top: 20px;
  border-radius: 15px;
  border: 1px solid #6861CE;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  font-weight: 700 !important;
}
.forms_design h1{
  color: #6861CE;
  text-align: center;
  font-weight: 600 !important;
  margin-bottom: 20px !important;
}
.inputs_group{
  position: relative;
}
.inputs_group:not(:first-child){
  margin-top: 10px;
}
.inputs_group > input{
  width: 100%;
  padding: 28px 0px 10px 16px;
  font-size: 14px;
  outline: none;
  background-color: #6861ce12;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  color: #999;
  border: none;
  font-family: "Quicksand", sans-serif;
}
.inputs_group > input::placeholder{
  color: #999;
  font-family: "Quicksand", sans-serif;
}
.inputs_group >span{
  position: absolute;
  top: 8px;
  left: 15px;
  font-size: 10px;
}
.frm_btn{
  width: 100%;
  text-align: center;
  margin-top: 30px;
}
.frm_btn button,
.frm_btn input{
  padding: 10px 26px;
  background-color: #6861CE;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
  color: #fff;
  font-weight: 600;
  border: none;
}

.forget_link{
  display: flex;  
  justify-content: end;
  text-align: end;
}
.forget_link a{
  font-size: 14px;
  color: #ddd;
  text-decoration: underline;
  text-align: center;
  margin-top: 20px;
  display: block;
  transition: .3s;
  -webkit-transition: .3s;
  -moz-transition: .3s;
  -ms-transition: .3s;
  -o-transition: .3s;
  &:hover{
      color: #9c9c9c;
  }
}

/* custom scrollbar */

/* width */
.sidebar-wrapper::-webkit-scrollbar {
  width: 6px !important;
}

/* Track */
.sidebar-wrapper::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey !important; 
  border-radius: 10px !important;
}
 
/* Handle */
.sidebar-wrapper::-webkit-scrollbar-thumb {
  background: #999 !important; 
  border-radius: 10px !important;
}

/* id column */

.id-column{
  width: 10px !important;
}

/* btn */

.prev-btn{
  height: 35px !important;
  width: 35px !important;
  border-radius: 50px !important;
  border: 1px solid #6861CE;
  text-align: center !important;
  transition: .3s;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
.prev-btn i{
  color: #6861CE !important;
}
.prev-btn:hover{
    border-color: transperent !important;
    background-color:#6861CE !important;
}
.prev-btn:hover i{
  color: white !important;
}


.edit-btn{
  height: 35px !important;
  width: 35px !important;
  border-radius: 50px !important;
  border: 1px solid green;
  display: flex;
  align-items: center;
  justify-content: center;
}
.edit-btn i{
  color: green !important;
}
.edit-btn:hover{
    border-color: transperent !important;
    background-color:green !important;
}
.edit-btn:hover i{
  color: white !important;
}


.del-btn{
  height: 35px !important;
  width: 35px !important;
  border-radius: 50px !important;
  border: 1px solid red;
  display: flex;
  align-items: center;
  justify-content: center;
}
.del-btn i{
  color: red !important;
}
.del-btn:hover{
    border-color: transperent !important;
    background-color:red !important;
}
.del-btn:hover i{
  color: white !important;
}


.btn-outline-primary{
  color: #6861ce !important;
  border-color: #6861ce;
}

.btn-check:checked+.btn, .btn.active, .btn.show, .btn:first-child:active, :not(.btn-check)+.btn:active{
  background-color: #6861ce;
  border-color: #6861ce;
  color: #fff !important;
}


.approve_status a{
  outline: none;
  border: 0px;
  padding: 3px 5px;
  font-size: 14px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  display: inline-block;
  color: #fff;
}


/* profile info start */
.profile-pic{
  padding: 8px;
  width: 100%;
  border: 1px dashed #999;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}
.file-profile{
  opacity: 0;
  height: 60px;
  width: 60px;
  z-index: 88;
}
.profile-pic-icn{
  top: 8px;
  left: 15px;
  height: 60px;
  width: 60px;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  border: 1px solid #ddd;
  display: flex;
  justify-content: center;
  align-items: center;
  i{
      color: #999;
      font-size: 30px;
  }
}
.profile-pic-view{
  height: 150px;
  width: 150px;
  border-radius: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  -o-border-radius: 100px;
}
.profile-pic-view img{
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  border-radius: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  -o-border-radius: 100px;
}
.pro-icon{
  font-size: 18px;
  align-self: center;
}
.pro-info span{
  font-size: 12px;
}
.pro-info p{
  margin-top: 5px;
  font-size: 14px;
  margin-bottom: 0px;
}
.cursor{
  cursor: pointer;
}
.pro-detail .edit-icn{
  align-self: center;
  color: #333;
}
.profile-pic-view a{
  font-size: 14px;
  color: #222;
}


/* serachbar */

/* .Serach-input{
  position: relative;
  width: 350px !important;
}

.Serach-input input{
  border: 1px solid #ddd;
  border-radius: 3px !important;
  -webkit-border-radius: 3px !important;
  -moz-border-radius: 3px !important;
  -ms-border-radius: 3px !important;
  -o-border-radius: 3px !important;
  padding-left: 200px !important;
  width: 400px !important;
}

.Serach-input i{
  position: absolute !important;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  left: 15px;
  position: relative;
  z-index: 999;
  position: relative;
  left: 140px !important;
} */
.serachbar{
  width: 400px;
  height: 42px !important;
}
.serachbar input{
  width: 400px !important;
  padding-left: 180px !important;
  position: relative;
  left: 0px;
  top: -27px;
}
.serachbar i{
  position: relative;
  left: 140px !important;
  top: 6px !important;
  font-size: 14px !important;
  z-index: 999;
}

.search-dropdown{
  width: 400px !important;
}
.search-dropdown input{
  padding-left: 150px !important;
  &:focus{
    border: 1px solid #ddd !important;
    background-color: transparent !important;
  }
}
.search-dropdown i{
  left: 140px !important;
  position: relative;
}
.serachbar ,
.search-dropdown{
  z-index: 999 !important;
}
.serachbar .dropdown select,
.search-dropdown .dropdown select{
  padding: 9px 20px !important;
  width: 141px !important;
  background-color: #F5F7FD !important;
  position: relative;
  z-index: 99 !important;
  &:focus{
    box-shadow: none !important;
  }
}

.dropdown-toggle.profile-pic{
  border: none !important;
}