
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");


:root{
    --theme-color-light:#F7FBFE;
    --theme-color:#00AEFF;
    --text-white:#fff;
    --theme-dark:#9999;
}
body{
    font-family: 'poppins','sans-serif';
    background-color: #F2F2FC;
}
a{
    text-decoration: none !important;
    display: block;
}
ul{
    list-style: none !important;
    padding: 0px;
}

.theme-light{
    background-color: var(--theme-color-light);
}
.theme-dark{
    background-color: var(--theme-dark);
}
.text-secondary{
    color: #ddd !important;
}
.light-text{
    color: var(--theme-color) !important;
}

.bars-tabs >ul >li:hover {
    background-color: var(--theme-color);
}
.bars-tabs >ul >li:hover> a{
    color: var(--text-white) !important;
}


.btn-outline-primary{
    color: var(--theme-color) !important;
    border-color: var(--theme-color);
}

.btn-check:checked+.btn, .btn.active, .btn.show, .btn:first-child:active, :not(.btn-check)+.btn:active{
    background-color: var(--theme-color);
    border-color: var(--theme-color);
    color: var(--text-white) !important;
}

.frm-title{
    margin-top: 8px;
    font-size: 22px !important;
    color: #333 !important;
    font-weight: 500 !important;
}   

.form-label{
    margin-top: 10px;
}
header{
    z-index: 999;
}


.logo >a img{
    width: 80px;
}

/* mainBorad */
.main-Borad{
    box-shadow: 0px 0px 10px rgb(0, 0, 0,0.025);
}
table tr >th,
table tr >td{
    background-color: transparent !important;
    border-bottom: 1px dashed #ddd;
    color: #222 !important;
}
.page-title{
    margin-bottom: 20px;
    color: #333;
}
.img-data{
    width: 210px;
}
.img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}


.action-icn a{
    height: 35px;
    width: 35px;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    border: 1px solid var(--theme-color);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .3s ease-in;
    -webkit-transition: .3s ease-in;
    -moz-transition: .3s ease-in;
    -ms-transition: .3s ease-in;
    -o-transition: .3s ease-in;
    &:hover{
        border: transparent;
        background-color: var(--theme-color);
    }
}
.action-icn a >i{
    color: var(--theme-color);
}
.action-icn a:hover >i{
    color: var(--text-white);
}


/* dashborad footer */
.dash-footer-btn .button-f button{
    width: 95px;
    padding: 8px 0px !important;
}
.save-btn button{
    background-color: var(--theme-color) !important;
    color: var(--text-white) !important;
    border-radius: 6px !important ;
    -webkit-border-radius: 6px !important;
    -moz-border-radius: 6px !important;
    -ms-border-radius: 6px !important;
    -o-border-radius: 6px !important;
    border: 2px solid transparent !important;
    transition: .3s;
    &:hover{
        background-color: transparent !important;
        border-color: var(--theme-color) !important;
        color: var(--theme-color) !important;
    }
}
.cancel-btn button{
    border: 2px solid var(--theme-color);
    background-color: transparent !important;
    color: var(--theme-color) !important;
    border-radius: 6px !important ;
    -webkit-border-radius: 6px !important;
    -moz-border-radius: 6px !important;
    -ms-border-radius: 6px !important;
    -o-border-radius: 6px !important;
    transition: .3s;
    &:hover{
        background-color: var(--theme-color) !important;
        border-color: transparent !important;
        color: var(--text-white) !important;
    }
}
.dash-footer-btn{
    border-top: 1px solid #ddd;
}


/* sidebar */

.sidebar-menus{
    height: 605px !important;
    max-height: 100% !important;
    overflow-y: auto !important;
    padding-bottom:20px !important ;
}

.sidebar .sidebar-menu{
    padding: 10px 7px;
}
.sidebar-menu >li{
    border-radius: 6px !important;
    -webkit-border-radius: 6px !important;
    -moz-border-radius: 6px !important;
    -ms-border-radius: 6px !important;
    -o-border-radius: 6px !important;
}
.sidebar-menu >li> a{
    
    font-size: 14px !important;
}
.sidebar-menu >li >a >i{
    font-size: 14px !important;
}
.sub-menu >li{
    padding-left: 5px;
}
.sub-menu >li >a{
    font-size: 14px !important;
    text-decoration: none !important;
    color: #666;
    padding: 8px 0px ;
    padding-left: 16px;
    position: relative;
    &:after{
        content: '';
        position: absolute;
        top: 50%;
        left: 0;
        height: 6px;
        width: 6px;
        border-radius: 50px;
        -webkit-border-radius: 50px;
        -moz-border-radius: 50px;
        -ms-border-radius: 50px;
        -o-border-radius: 50px;
        background-color: #d6d6e1;
        transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
}
}
.sub-menu li:hover a{
    color: var(--theme-color) !important;
    &:after{
        background-color: var(--theme-color);
    }
}
.action-btn{
    width: 120px;
    font-weight: 500;
}
.submit-btn{
    background-color: var(--theme-color);
    color: var(--text-white);
    border: 2px solid var(--theme-color);
}
.cancel-btn{
    border: 2px solid var(--theme-color);
    color: var(--theme-color);
    background-color: transparent;
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
    &:hover{
        background-color: var(--theme-color);
        color: var(--text-white);
    }
}

.approve_status a{
    padding: 3px 5px;
    font-size: 14px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    display: inline-block;
}

table{
    font-size: 14px !important;
}


/* profile info start */
.profile-pic{
    padding: 8px;
    width: 100%;
    border: 1px dashed #999;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}
.file-profile{
    opacity: 0;
    height: 60px;
    width: 60px;
    z-index: 88;
}
.profile-pic-icn{
    top: 8px;
    left: 15px;
    height: 60px;
    width: 60px;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    border: 1px solid #ddd;
    display: flex;
    justify-content: center;
    align-items: center;
    i{
        color: #999;
        font-size: 30px;
    }
}
.profile-pic-view{
    height: 150px;
    width: 150px;
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -ms-border-radius: 100px;
    -o-border-radius: 100px;
}
.profile-pic-view img{
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -ms-border-radius: 100px;
    -o-border-radius: 100px;
}
.pro-icon{
    font-size: 18px;
    align-self: center;
}
.pro-info span{
    font-size: 12px;
}
.pro-info p{
    margin-top: 5px;
    font-size: 14px;
    margin-bottom: 0px;
}
.cursor{
    cursor: pointer;
}
.pro-detail .edit-icn{
    align-self: center;
    color: #333;
}
.profile-pic-view a{
    font-size: 14px;
    color: #222;
}



/* custom scrollbar */

/* width */
::-webkit-scrollbar {
    width: 8px !important;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey !important; 
    border-radius: 10px !important;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #999 !important; 
    border-radius: 10px !important;
  }

  .card-body{
    border: none !important;
  }